#  3 lines of code PyCaret Regression - Best Model selection for the Automatidata_Preprocessed dataset 

    Gradient Boosting Regressor
    Light Gradient Boosting Machine
    Ridge Regression
    Least Angle Regression
    Bayesian Ridge
    Linear Regression
    Lasso Regression
    Lasso Least Angle Regression
    Huber Regressor
    Extreme Gradient Boosting
    Elastic Net
    K Neighbors Regressor
    Random Forest Regressor
    Extra Trees Regressor
    Decision Tree Regressor
    Passive Aggressive Regressor
    Orthogonal Matching Pursuit
    AdaBoost Regressor
    Dummy Regressor

In [1]:
import pandas as pd
import numpy as np

In [2]:
# lets us see all of the columns
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('df2.csv')
df.head()

,VendorID,passenger_count,fare_amount,mean_distance,mean_duration,rush_hour
0,2,6,13.0,3.521667,22.847222,0
1,1,1,16.0,3.108889,24.470370,0
2,1,1,6.5,0.881429,7.250000,1
3,2,1,20.5,3.700000,30.250000,0
4,2,1,16.5,4.435000,14.616667,0

In [4]:
from pycaret.regression import *
s = setup(df, target = 'fare_amount')
best = compare_models()